<template>
    <v-tabs v-model="tab" center-active grow>
        <v-tab value="asignados">
            Asignados
        </v-tab>
        <v-tab value="finalizados">
            Finalizados
        </v-tab>
    </v-tabs>

    <v-window v-model="tab">
        <v-window-item value="asignados">
            <loading-component v-if="loading"></loading-component>
            <v-container v-else>
                <list-propoust-tickets></list-propoust-tickets>
            </v-container>
        </v-window-item>
        <v-window-item value="finalizados">
            <v-container>
                <h1 class="test-h3">Finalizados</h1>
            </v-container>
        </v-window-item>
    </v-window>
</template>

<script setup>
// import { reactive, ref } from 'vue';

import { ref } from 'vue';
import ListPropoustTickets from '@/components/developer/ListPropoustTickets.vue';
// import ListAceptedTickets from '@/components/developer/ListAceptedTickets.vue';
import apiServices from '@/utils/apiServices';
import LoadingComponent from '@/components/LoadingComponent.vue';
import { watch } from 'vue';

const { getTicketsAsignadosDev } = apiServices()
const tab = ref(null)
const loading = ref(true)
watch(tab, async (newTab) => {
    loading.value = true
    switch (newTab) {
        case 'asignados':
            await getTicketsAsignadosDev(1)
            break
        case 'finalizados':
            break
        default:
            break
    }
    loading.value = false
})

</script>
