<template>
  <v-card height="auto">
    <v-card-title>Asignar Ticket</v-card-title>
    <v-card-text>
      <v-radio-group v-model="devId">
        <template v-slot:label>
          <div class="mx-auto">Elige Desarrollador</div>
        </template>
        <v-table density="compact" fixed-header height="200">
          <thead>
            <tr>
              <th></th>
              <th class="text-center">Id</th>
              <th>Nombre</th>
              <th class="text-center">Asignados</th>
              <th class="text-center">Alto</th>
              <th class="text-center">Medio</th>
              <th class="text-center">Bajo</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in devs[0]?.usuarios" :key="user.id" :class="tableItemClass(user.id)" class="text-left">
              <td>
                <v-radio label="" :value="user.id"></v-radio>
              </td>
              <td class="text-center">{{ user.id }}</td>
              <td>{{ user.nombre }} {{ user.apellido }}</td>
              <td class="text-center">{{ user.nTickets }}</td>
              <td class="text-center">{{ user.nHigh }}</td>
              <td class="text-center">{{ user.nMidium }}</td>
              <td class="text-center">{{ user.nLow }}</td>
            </tr>
          </tbody>
        </v-table>

      </v-radio-group>
    </v-card-text>

    <v-card-text class="w-75 mx-auto">
      <v-radio-group inline v-model="pId">
        <template v-slot:label>
          <div class="mx-auto text-center">Asignar Prioridad al ticket</div>
        </template>
        <div class="mx-auto">
          <v-radio v-for="p in prioridades" :key="p.id" :value="p.id" :color="colorPrior(p.nombre)">
            <template v-slot:label>
              <div class="text-body-1 text-black">{{ p.nombre }}</div>
            </template>
          </v-radio>
        </div>
      </v-radio-group>
    </v-card-text>
    <v-card-actions class="mx-auto">
      <v-btn variant="elevated" @click="$emit('close')" color="error" icon="mdi-close"></v-btn>
      <v-btn variant="elevated" @click="proponerTicket" color="success" icon="mdi-check"></v-btn>
    </v-card-actions>
  </v-card>
</template>
<script setup>
import Swal from "sweetalert2";
import { computed, ref } from "vue";
import apiServices from "@/utils/apiServices"

const emit = defineEmits(["close"]);

const { devs, asignarTicket, result, prioridades } = apiServices()
const devId = ref(null);
const pId = ref(1);

const tableItemClass = computed(() => {
  return (id) => {
    return devId.value ? (devId.value === id ? "" : "text-grey-lighten-1") : "";
  };
});

const colorPrior = computed(() => {
  return (prior) => {
    if (prior === "Alta") return "error";
    if (prior === "Media") return "warning";
    if (prior === "Baja") return "success";
  };
});

const proponerTicket = async () => {
  await asignarTicket(devId.value, pId.value);
  emit("close");
  console.log(result.value)
  if (result.value.status === 200) {
    Swal.fire({
      title: "Exito",
      text: "El Ticket fue propuesto exitosamente",
      icon: "success",
      confirmButtonText: "Aceptar",
    });
  } else {
    Swal.fire({
      title: "Error",
      text: "No se pudo proponer el ticket, debido a un error",
      icon: "error",
      confirmButtonText: "Aceptar",
    });
  }
};
</script>
