<template>
  <LoadingComponent v-if="loading"></LoadingComponent>
  <div v-else>
    <div v-if="tickets.length != 0">
      <v-table fixed-header class="text-left">
        <thead>
          <tr>
            <th v-for="header in headers" :key="header">
              {{ header }}
            </th>
          </tr>

        </thead>
        <tbody>
          <tr v-for="ticket in tickets" :key="ticket.id">
            <TableItem :ticket="ticket" @press="openDialog" @clickChooser="openChooser">
            </TableItem>
          </tr>
        </tbody>
      </v-table>
    </div>
    <div v-else class="justify-center">
      <EmptyPlaceholder></EmptyPlaceholder>
    </div>
    <div>
      <v-dialog v-model="dialog" fullscreen>
        <v-card>
          <TicketDetail @close="closeDialog" @asign="openChooser"></TicketDetail>
        </v-card>
      </v-dialog>
      <v-dialog v-model="isAsigning" persistent>
        <dev-chooser @close="closeChooser"></dev-chooser>
      </v-dialog>
    </div>
  </div>
</template>
<script setup>
import { ref, watchEffect, watch } from 'vue';
import EmptyPlaceholder from '../EmtpyPlaceholder.vue'
import TableItem from './TableItem.vue';
import TicketDetail from './TicketDetail.vue';
import DevChooser from './DevChooser.vue';
import apiServices from '@/utils/apiServices';
import LoadingComponent from '../LoadingComponent.vue';

const { getPrioridades, getTicket, getAppDevs, tickets, getTicketsNuevos } = apiServices()

const loading = ref(false)
const ticketId = ref(0)
const softwareId = ref(0)

watchEffect(async () => { await getPrioridades() })
watch(ticketId, async (id) => {
  loading.value = true
  await getTicket(id)
  loading.value = false
})
watch(softwareId, async (id) => { await getAppDevs(id) })


const isAsigning = ref(false)
const dialog = ref(false);
const headers = ['Titulo', 'App', 'Creado en', ""]
const openDialog = (id) => {
  ticketId.value = id
  dialog.value = true;
}
const closeDialog = () => {
  dialog.value = false;
}

const openChooser = (appId, tId) => {
  softwareId.value = appId
  ticketId.value = tId
  isAsigning.value = true
  dialog.value = false
}
const closeChooser = async () => {
  isAsigning.value = false
  loading.value = true
  await getTicketsNuevos()
  loading.value = false
}
</script>
