<template>
    <div v-if="tickets.length != 0">
        <v-table fixed-header class=" text-left">
            <thead>
                <tr>
                    <th v-for=" header  in  headers " :key="header">
                        {{ header }}
                    </th>
                </tr>

            </thead>
            <tbody>
                <tr v-for=" ticket  in  tickets " :key="ticket.id">
                    <TableItem :ticket="ticket" @press="openDialog(ticket.id)"></TableItem>
                </tr>
            </tbody>
        </v-table>
    </div>
    <div v-else class="justify-center">
        <EmptyPlaceholder></EmptyPlaceholder>
    </div>
    <v-dialog v-model="dialog" fullscreen>
        <v-card>
            <TicketDetail @close="closeDialog"></TicketDetail>
        </v-card>
    </v-dialog>
</template>
<script setup>
import apiServices from "@/utils/apiServices"
import EmptyPlaceholder from '../EmtpyPlaceholder.vue'
import TableItem from './TableItem.vue';
import TicketDetail from './TicketDetail.vue';
import { ref } from 'vue';
import Swal from 'sweetalert2';

const loading = ref(false)
const dialog = ref(false);
const headers = ['Titulo', 'Importancia', 'Estado', 'App', 'Asignado a', "Asignado en", '']
const { tickets, result, getTicket } = apiServices()

const openDialog = async (id) => {
    try {
        loading.value = true
        await getTicket(id)
        loading.value = false
        dialog.value = true;
    } catch (error) {
        await Swal.fire({
            title: 'Ups!',
            text: result?.value.data,
            icon: 'error',
            showCloseButton: true
        })
    }
    loading.value = false
}
const closeDialog = () => {
    dialog.value = false;
}
</script>