<template>
    <td>
        {{ ticket?.titulo }}
    </td>
    <td v-if="ticket.estado.nombre === 'Asignado' || ticket.estado.nombre === 'En Progreso'">
        {{ ticket?.nivelprioridad?.nombre }}
    </td>
    <td v-if="ticket?.estado.nombre !== 'Nuevo'">
        <v-chip>
            {{ ticket?.estado?.nombre }}
        </v-chip>
    </td>
    <td>
        <v-chip variant="outlined" @click="$router.push({ name: 'appInfo', params: { id: ticket.software.id } })">
            {{ ticket?.software?.nombre }}
        </v-chip>
    </td>
    <td v-if="ticket.estado.nombre === 'Asignado' || ticket.estado.nombre === 'En Progreso'">
        <p> {{ ticket?.asignado?.nombre + ' ' + ticket?.asignado?.apellido }}
        </p>
    </td>
    <td>
        <p>{{ getDate }}</p>
    </td>
    <td>
        <v-btn v-if="ticket.estado.nombre == 'Nuevo'" variant="tonal" class="mr-1"
            @click="emit('clickChooser', ticket.software.id, ticket.id)">
            Asignar
        </v-btn>
        <v-btn variant="tonal" class="mr-1" @click="emit('press', ticket.id)">
            Ver
        </v-btn>
    </td>
</template>
<script setup>
import { computed } from 'vue';


const props = defineProps({
    ticket: {},
});

const emit = defineEmits(['press', 'clickChooser'])
const getDate = computed(() => {
    const timeStamp = new Date(Date.parse(props.ticket?.createdAt ?? props.ticket?.updatedAt))
    return `${timeStamp.getDate()}/${timeStamp.getMonth()}/${timeStamp.getFullYear()}`
})
</script>