<template>
  <v-container fluid class="mx-auto">
    <v-row no-gutters justify="space-between" align-content="center">
      <v-col cols="1" align-self="center">
        <v-row justify="center" align-content="center">
          <v-avatar size="x-large" color="blue-lighten-1">{{ ticket.id }}</v-avatar>
        </v-row>
      </v-col>
      <v-col cols="7">
        <h2 class="text-h2 my-8"> {{ ticket.titulo }}
          <v-chip>
            {{ ticket.software?.nombre }}
          </v-chip>
        </h2>
        <p class="text-body-1">Creado el {{ ticket.updatedAt }}</p>
      </v-col>
      <v-col class="w-100" cols="2">
        <v-row class="h-75" align-content="center" justify="center">
          <v-btn @click="$emit('close')" density="comfortable" icon="mdi-close">
          </v-btn>
        </v-row>
        <v-row class="h-75" justify="center" v-if="ticket.estado?.nombre === 'Nuevo'">
          <v-btn variant="outlined" @click="$emit('asign', ticket.software.id, ticket.id)">Asignar</v-btn>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <div class="px-6">
    <v-divider thickness="3" class="border-opacity-25" color="succes"></v-divider>
  </div>
  <div class="mx-8 my-8">
    <div class="my-4 w-50">
      <h5 class="text-h5">Información de Informante</h5>
      <v-container>
        <v-row align-content="center" no-gutters justify="start">
          <v-col>
            <v-avatar icon="mdi-account"></v-avatar>
          </v-col>
          <v-col align-self="center">
            Nombre
          </v-col>
          <v-col align-self="center">
            {{ ticket.nombre_reportero }}
          </v-col>
          <v-col>
          </v-col>
        </v-row>
        <v-row align-content="center" no-gutters justify="center">
          <v-col>
            <v-avatar icon="mdi-email"></v-avatar>
          </v-col>
          <v-col align-self="center">
            Correo
          </v-col>
          <v-col align-self="center">
            {{ ticket.correo_reportero }}
          </v-col>
          <v-col>
          </v-col>
        </v-row>

      </v-container>
    </div>
    <div class="my-4">
      <h5 class="text-h5">Detalles</h5>
      <p class="text-body-1">{{ ticket.descripcion?.detalles }}</p>
    </div>
    <div class="my-4">
      <h5 class="text-h5">Como recrearlo</h5>
      <p class="text-body-1">{{ ticket.descripcion?.pasos }}</p>
    </div>
    <div class="my-4" v-if="ticket.imagens">
      <h4 class="text-h5">Imagenes Adjuntas</h4>
    </div>
    <div class="my-4">
      <h4 class="text-h5">Avances</h4>
      <v-table>
        <thead>
          <tr>
            <th class="text-left">Fecha</th>
            <th class="text-left">Vista previa</th>
            <th class="text-left">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="avance in avances" :key="avance.id">
            <td>{{ avance.fecha }}</td>
            <td>{{ avance.vistaPrevia }}</td>
            <td>
              <v-btn small @click="verDetalles(avance)">Ver detalles</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
    </div>
  </div>

  <v-dialog v-model="showModal" width="500px">
    <v-card>
      <v-card-title>
        Detalles del avance
      </v-card-title>
      <v-card-text>
        <p>{{ avanceSeleccionado.informacion }}</p>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" text @click="cerrarDetalles">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup>
import apiServices from '@/utils/apiServices';
import { ref } from 'vue';

const avances = [
  { id: 1, fecha: '2023-05-28', vistaPrevia: 'Avance 1', informacion: 'Información detallada del avance 1.' },
  { id: 2, fecha: '2023-05-29', vistaPrevia: 'Avance 2', informacion: 'Información detallada del avance 2.' },
  { id: 3, fecha: '2023-05-30', vistaPrevia: 'Avance 3', informacion: 'Información detallada del avance 3.' },
];
// const props = defineProps(['ticketId'])
const showModal = ref(false);
const avanceSeleccionado = ref(null);
defineEmits(['close', 'asign'])
const { ticket } = apiServices()

const verDetalles = (avance) => {
  avanceSeleccionado.value = avance;
  showModal.value = true;
};

const cerrarDetalles = () => {
  avanceSeleccionado.value = null;
  showModal.value = false;
};
</script>
