<template>
    <v-dialog v-model="dialog" fullscreen transition="dialog-bottom-transition">
        <template v-slot:activator="{ props }">
            <v-container class="d-flex flex-row-reverse">
                <v-btn icon="mdi-bug" density="default" v-bind="props" @click="changeInitTab"></v-btn>
            </v-container>
        </template>
        <v-card>
            <v-toolbar dark color="pink-darken-4">
                <v-btn icon dark @click="cancel">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
                <v-toolbar-title>Reportar Bug</v-toolbar-title>
            </v-toolbar>
            <v-tabs v-model="tab" color="pink-darken-4" bg-color="transparent" fixed-tabs>
                <v-tab value="user_info">Informacion de Usuario</v-tab>
                <v-tab value="bug_info">Informacion de Bug</v-tab>
            </v-tabs>
            <v-window v-model="tab">
                <v-window-item class="h-75" value="user_info">
                    <v-form v-model="user_info_valid" @submit.prevent>
                        <v-container>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="username" label="Ingrese nombre" :rules="name_rules"
                                        :readonly="isLogin">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                            <v-row>
                                <v-col>
                                    <v-text-field v-model="useremail" label="Ingrese Correo" :rules="email_rules"
                                        :readonly="isLogin">
                                    </v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                        <div class="text-center">
                            <v-btn type="submit" class="bg-pink-darken-4" primary @click="next">Continuar</v-btn>
                        </div>
                    </v-form>
                </v-window-item>
                <v-window-item value="bug_info">
                    <v-form v-model="bug_info_valid" class="mx-auto w-75">
                        <v-text-field v-model="titulo" density="compact" label="Titulo"
                            prepend-icon="mdi-format-title"></v-text-field>
                        <v-textarea v-model="descripcion" label="¿Que ocurrio?" clearable prepend-icon="mdi-text" auto-grow
                            :rules="d_rules"></v-textarea>
                        <v-textarea v-model="pasos" label="¿Que hiciste antes de que ocurriera?" clearable
                            prepend-icon="mdi-format-list-numbered" auto-grow :rules="list_rules">
                        </v-textarea>
                        <v-file-input density="compact" v-model="images" show-size counter multiple
                            label="Subir fotos(opcional)"></v-file-input>
                        <v-row justify="center">
                            <v-btn class="mb-8 mx-4" color="red" @click="cancel">Cancelar</v-btn>
                            <v-btn class="mb-8 mx-4" color="green" @click="submit">Ingresar</v-btn>
                        </v-row>
                    </v-form>
                </v-window-item>
            </v-window>
        </v-card>
    </v-dialog>
</template>
<script setup>
import { useExternalStore } from "@/store/external_app";
import { storeToRefs } from "pinia";
import Swal from "sweetalert2"
import { ref } from 'vue';

const store = useExternalStore();
const { useremail, username, titulo, descripcion, pasos, images, isLogin } = storeToRefs(store);
const dialog = ref(false);
const user_info_valid = ref(false);
const bug_info_valid = ref(false);
const tab = isLogin.value ? ref("bug_info") : ref('user_info');

const required_rule = (v, op) => v ? true : `Debe ingresar ${op}`
let d_rules = ref([
    v => required_rule(v, "Descripcion"),
    v => /[\w\d\s]{50,}/i.test(v) || 'Minimo de 50 caracteres',
])

let list_rules = ref([

    v => required_rule(v, "Lista de pasos"),
    v => /^[1-9]+[a-zA-Z 1-9.]+$[\n]{0,1}/igm.test(v) || 'Pasos deben ser ingresados como una lista (1. ...)',
])

let name_rules = ref([
    v => required_rule(v, "Nombre"),
])

let email_rules = ref([
    v => required_rule(v, "Email"),
    v => /([a-z.A-Z0-9]+)(@)([a-zA-Z.]+)(\.)([.a-z]{2,3})/g.test(v) ? true : "Ingrese un correo valido"
])
const next = () => {
    if (!user_info_valid.value) return
    tab.value = "bug_info"
}

const submit = async () => {
    if (!bug_info_valid.value) return
    const succes = await store.submitTicket()
    cancel()
    console.log(succes)
    if (succes.status === 200) {
        Swal.fire({
            title: "Ingreso Exitoso",
            text: "El bug encontrado y la informacion ingresado fueran ingresadas exitosamente",
            icon: "success",
            confirmButtonText: "Cerrar"
        })
    } else {
        Swal.fire({
            title: "Hubo un Error",
            text: "Hubo un error en el ingreso del bug detallado",
            icon: "error",
            confirmButtonText: "Cerrar"
        })
    }
}

const cancel = () => {
    if (!isLogin.value) {
        useremail.value = "";
        username.value = "";
        tab.value = "user_info";
    }
    descripcion.value = "";
    pasos.value = "";
    dialog.value = false;
}

const changeInitTab = () => {
    tab.value = isLogin.value ? "bug_info" : 'user_info';
}
</script>