<template>
  <v-app-bar flat>
    <v-app-bar-title>
      <v-icon icon="mdi-shield-bug-outline" />
      Bug Manager
    </v-app-bar-title>
    <template v-slot:append>
      <v-btn icon="mdi-logout" @click="logout"></v-btn>
    </template>
  </v-app-bar>
</template>

<script setup>
import { useRouter } from 'vue-router';

const router = useRouter()
const logout = () => {
  router.replace({ name: 'Login' })
}
</script>
