<template>
    <v-app>
        <app-bar></app-bar>
        <app-view></app-view>
    </v-app>
</template>

<script setup>
import AppBar from './AppBar.vue'
import AppView from './AppView.vue'
</script>