<template>
    <v-container fluid>
        <v-row justify="center">
            <v-col>
                <v-select class="w-25 mt-4 mx-auto" :items="store.getAppNames" label="Seleccionar Nombre de la app" menu-icon=""
                    variant="solo" v-model="app_name"></v-select>
            </v-col>
        </v-row>
        <v-row align-content="center" justify="center">
            <v-col cols="12" class="text-center">
                <v-btn @click="select">Seleccionar</v-btn>
            </v-col>

        </v-row>
    </v-container>
</template>
<script setup>
import { useExternalStore } from '@/store/external_app';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
import { onMounted } from 'vue';

const store = useExternalStore();
const router = useRouter()
let { app_name } = storeToRefs(store);

onMounted(async () => {
    await store.fetchApps()
})
const select = () => {
    if (app_name.value != null) {
        router.push({ name: 'external_app_login' })
    }
}
</script>