<template>
    <h1 class="text-h1">your log in {{ app_name }}</h1>
    <h1 class="text-h1">your log as {{ username }}</h1>
    <h1 class="text-h1">your log with {{ useremail }}</h1>
</template>
<script setup>
import { useExternalStore } from '@/store/external_app';
import { storeToRefs } from 'pinia';

const store = useExternalStore();
let { username, useremail, app_name } = storeToRefs(store)
</script>
