<template>
    <v-container class="w-50 mx-auto my-auto h-75">
        <v-form v-model="valid" @submit.prevent>
            <v-text-field v-model="username" label="Ingrese nombre" :rules="nombre_rules">
            </v-text-field>
            <v-text-field v-model="useremail" label="Ingrese Correo" :rules="correo_rules">
            </v-text-field>
            <div class="text-center">
                <v-btn type="submit" class="bg-pink-darken-4" primary @click="submit">Log In</v-btn>
            </div>
        </v-form>
    </v-container>
</template>
<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { useExternalStore } from '@/store/external_app';
import { storeToRefs } from 'pinia';

const store = useExternalStore();
const router = useRouter()
let valid = ref(false)
let { username, useremail, app_name } = storeToRefs(store);
let nombre_rules = ref([
    value => value ? true : "Debe ingresar un Nombre"
])
let correo_rules = ref([
    value => value ? true : "Debe ingresar un Email",
    value => /([a-z.A-Z0-9]+)(@)([a-zA-Z.]+)(\.)([.a-z]{2,3})/g.test(value) ? true : "Ingrese un correo valido"
])

const submit = () => {
    if (!valid.value) return;
    store.isLogin = true;
    console.log(app_name.value)
    console.log(username.value)
    console.log(useremail.value)
    router.push({ name: 'external_app_home' })
}
</script>