<template>
    <v-app>
        <TopBar></TopBar>
        <v-main>
            <router-view />
        </v-main>
        <DefaultComponent></DefaultComponent>
    </v-app>
</template>
<script setup>
import DefaultComponent from '@/components/widget/DefaultComponent.vue';
import TopBar from './TopBar.vue'
</script>