<template>
    <v-app-bar>
        <v-app-bar-nav-icon></v-app-bar-nav-icon>
        <v-app-bar-title>
            {{ app_name }}
        </v-app-bar-title>
    </v-app-bar>
</template>
<script setup>
import { useExternalStore } from '@/store/external_app';
import { storeToRefs } from 'pinia';

const store = useExternalStore()
let { app_name } = storeToRefs(store)

</script>
