<template>
    <v-container class="fill-height" v-if="loading">
        <v-progress-circular class="mx-auto" indeterminate></v-progress-circular>
    </v-container>
    <v-container fluid class="mx-10" v-else>
        <v-row align-content="center">
            <v-col cols="1">
                <v-avatar color="cyan-darken-4" size="x-large">
                    <v-icon icon="mdi-account-circle">
                    </v-icon>
                </v-avatar>
            </v-col>
            <v-col align-self="center">
                <v-row justify="center">
                    <h4 class="text-h4">{{ appInfo?.app?.nombre }}</h4>
                </v-row>
                <v-row justify="center">
                    {{ getAppDate }}
                </v-row>
            </v-col>
            <v-col cols="1">
            </v-col>
        </v-row>
    </v-container>
    <div class="bg-cyan-darken-4 fill-height">
        <v-container fluid class="">
            <v-row justify="center">
                <v-col class="ml-5 text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ appInfo?.totales }}</p>
                        <v-card-title>Tickets Totales</v-card-title>
                    </v-card>
                </v-col>
                <v-col class="text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ appInfo?.progreso }}</p>
                        <v-card-title>Tickets en Progreso</v-card-title>
                    </v-card>
                </v-col>
                <v-col class="mr-5 text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ appInfo?.finalizados }}</p>
                        <v-card-title>Tickets Finalizados</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col class="text-center" cols="4">
                    <v-card class="py-4">
                        <p class="text-h2">{{ getCompletion }}%</p>
                        <v-card-title>Porcentaje de Completitud</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script setup>
import axios from 'axios';
import Swal from 'sweetalert2';
import { computed } from 'vue';
import { ref } from 'vue';
import { onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';


const baseUrl = 'http://localhost:3000/api/'
const route = useRoute()
const router = useRouter()
const loading = ref(false)
const appInfo = ref()

onMounted(
    async () => {
        try {
            loading.value = true
            const json = await axios.get(baseUrl + `apps/info?id=${route.params.id}`)
            appInfo.value = json.data
            loading.value = false
            console.log(appInfo.value)
        } catch (error) {
            Swal.fire({
                title: "Ups!",
                text: error,
                icon: 'error',
                confirmButtonText: 'Okey'
            })
            loading.value = false
            router.go(-1)
        }
    }
)

const getAppDate = computed(() => {
    const timeStamp = new Date(Date.parse(appInfo.value?.app?.createdAt))
    return `${timeStamp.getDate()}/${timeStamp.getMonth()}/${timeStamp.getFullYear()}`
})

const getCompletion = computed(() => {
    return appInfo.value?.finalizados / appInfo.value?.totales
})
</script>