<template>
    <v-container fluid pa-0 class="bg-grey-lighten-2 fill-height">
        <v-row align="center" justify="center" class="h-50">
            <v-col cols="6" class=" fill-hight d-flex flex-column">
                <v-card class="h-100">
                    <v-card-title>
                        Inicio de Sesion
                    </v-card-title>
                    <v-card-text class="text-center">
                        <v-btn rounded="lg" elevation="8" class="mx-4" @click="goAdmin">Administrados</v-btn>
                        <v-btn rounded='lg' elevation="8" class="mx-4" @click="goDev">Desarrollador</v-btn>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script setup>
import { useRouter } from 'vue-router';

const router = useRouter()
const goAdmin = () => { router.push({ name: 'tickets.admin' }) }
const goDev = () => { router.push({ name: 'tickets.dev' }) }
</script>