<template>
    <v-container class="fill-height" v-if="loading">
        <v-progress-circular indeterminate class="mx-auto"></v-progress-circular>
    </v-container>
    <v-container fluid class="mx-10" v-else>
        <v-row align-content="center">
            <v-col cols="1">
                <v-avatar color="cyan-darken-4" size="x-large">
                    <v-icon icon="mdi-account-circle">
                    </v-icon>
                </v-avatar>
            </v-col>
            <v-col align-self="center">
                <v-row justify="center">
                    <h4 class="text-h4">{{ fullName }}</h4>
                </v-row>
                <v-row justify="center">
                    {{ userInfo?.user?.correo }}
                </v-row>
            </v-col>
            <v-col cols="1">
            </v-col>
        </v-row>
    </v-container>
    <div class="bg-cyan-darken-4 fill-height">
        <v-container fluid>
            <v-row justify="center">
                <v-col class="ml-5 text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ userInfo?.asignados }}</p>
                        <v-card-title>Tickets Asignados</v-card-title>
                    </v-card>
                </v-col>
                <v-col class="text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ userInfo?.finalizados }}</p>
                        <v-card-title>Tickets Finalizados</v-card-title>
                    </v-card>
                </v-col>
                <v-col class="mr-5 text-center" cols="3">
                    <v-card class="py-4">
                        <p class="text-h2">{{ userInfo?.progreso }}</p>
                        <v-card-title>Tickets en Progreso</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
            <v-row justify="center">
                <v-col class="text-center" cols="4">
                    <v-card class="py-4">
                        <p class="text-h2">{{ getCompletion }}%</p>
                        <v-card-title>Porcentaje de Completitud</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>
<script setup>
import axios from 'axios';
import Swal from 'sweetalert2';
import { computed } from 'vue';
import { ref } from 'vue';
import { onMounted } from 'vue';
import { useRoute, useRouter } from 'vue-router';


const baseUrl = 'http://localhost:3000/api/'
const route = useRoute()
const router = useRouter()
const loading = ref(false)
const userInfo = ref()

onMounted(
    async () => {
        try {
            loading.value = true
            const json = await axios.get(baseUrl + `usuarios?devId=${route.params.id}`)
            userInfo.value = json.data
            loading.value = false
            console.log(userInfo.value)
        } catch (error) {
            await Swal.fire({
                title: "Ups!",
                text: error,
                icon: 'error',
                confirmButtonText: 'Okey'
            })
            loading.value = false
            router.go(-1)
        }
    }
)

const fullName = computed(() => {
    return `${userInfo.value?.user.nombre} ${userInfo.value?.user.apellido}`
})
const getCompletion = computed(() => {
    return userInfo.value?.finalizados / userInfo.value?.totales
})
</script>