<template>
    <v-container>
        <v-row>
            <v-spacer></v-spacer>
            <v-col>
                <v-img width="400" aspect-ratio="4/3" src="@/assets/images/empty-placeholder.jpg"></v-img>
                <h4 class="text-h4 text-center"> No hay Nuevos elementos</h4>
            </v-col>
            <v-spacer></v-spacer>
        </v-row>
    </v-container>
</template>

<script setup>
</script>