<template>
    <v-tabs v-model="tab" center-active grow>
        <v-tab value="nuevos">
            Nuevos
        </v-tab>
        <v-tab value="asignados">
            Asignados
        </v-tab>
        <v-tab value="rechazados">
            Rechazados
        </v-tab>
    </v-tabs>

    <v-window v-model="tab" class="h-100">
        <v-window-item value="nuevos" class="h-100">
            <loading-component v-if="loading"></loading-component>
            <v-container v-else>
                <list-new-tickets></list-new-tickets>
            </v-container>
        </v-window-item>
        <v-window-item value="asignados" class="h-100">
            <loading-component v-if="loading"></loading-component>
            <v-container v-else>
                <list-tickets-asignados></list-tickets-asignados>
            </v-container>
        </v-window-item>

        <v-window-item value="rechazados" class="h-100">
            <loading-component v-if="loading"></loading-component>
            <v-container v-else>
                <h1 class="test-h3">Rechazados</h1>
            </v-container>
        </v-window-item>
    </v-window>
</template>

<script setup>
// import { reactive, ref } from 'vue';

import { ref } from 'vue';
import ListNewTickets from '@/components/admin/ListNewTickets.vue';
import ListTicketsAsignados from '@/components/admin/ListTicketsAsignados.vue';
import { watch } from 'vue';
import LoadingComponent from '@/components/LoadingComponent.vue';
import apiServices from '@/utils/apiServices';
import Swal from 'sweetalert2';

const { getTicketsAsignados, getTicketsNuevos } = apiServices()
const loading = ref(false)
const tab = ref(null)
watch(tab, async (newTab) => {
    try {
        loading.value = true
        if (newTab === 'nuevos')
            await getTicketsNuevos()
        else if (newTab === 'asignados')
            await getTicketsAsignados()
    } catch (error) {
        Swal.fire({
            title: "Ups!",
            text: error,
            icon: 'error',
            showCloseButton: true
        })
    }
    loading.value = false

})
</script>
