<template>
  <v-card width="auto" height="auto">
    <v-card-title>Propuesta de Reasignacion de Ticket</v-card-title>
    <v-card-text>
      <v-radio-group v-model="devId">
        <template v-slot:label>
          <div class="mx-auto">Elige Desarrollador</div>
        </template>
        <v-table density="compact" fixed-header height="200">
          <thead>
            <tr>
              <th v-for="item in columns" :key="item" class="text-center">
                {{ item }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in devs[0]?.usuarios" :key="user.id" :class="tableItemClass(user.id)" class="text-center">
              <td>
                <v-radio label="" :value="user.id"></v-radio>
              </td>
              <td>{{ user.nombre }} {{ user.apellido }}</td>
              <td>{{ user.nTickets }}</td>
              <td>{{ user.nHigh }}</td>
              <td>{{ user.nMidium }}</td>
              <td>{{ user.nLow }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-radio-group>
    </v-card-text>
    <v-card-actions class="mx-auto">
      <v-btn variant="elevated" @click="$emit('close')" color="error" icon="mdi-close"></v-btn>
      <v-btn variant="elevated" color="success" @click="$emit('reasignar', ticket.id, devId)"
        icon="mdi-check"></v-btn>
    </v-card-actions>
  </v-card>
</template>
<script setup>
// import Swal from "sweetalert2";
import { computed, ref } from "vue";
import apiServices from "@/utils/apiServices"

defineEmits(["close", 'reasignar']);

const { devs, ticket } = apiServices()
const devId = ref(null);

const tableItemClass = computed(() => {
  return (id) => {
    return devId.value ? (devId.value === id ? "" : "text-grey-lighten-1") : "";
  };
});

const columns = ['', 'Nombre', 'Asigandos', 'Alta', 'Media', 'Baja']
// const proponerTicket = async () => {
//   await asignarTicket(devId.value, pId.value);
//   emit("close");
//   console.log(result.value)
//   if (result.value.status === 200) {
//     Swal.fire({
//       title: "Exito",
//       text: "El Ticket fue propuesto exitosamente",
//       icon: "success",
//       confirmButtonText: "Aceptar",
//     });
//   } else {
//     Swal.fire({
//       title: "Error",
//       text: "No se pudo proponer el ticket, debido a un error",
//       icon: "error",
//       confirmButtonText: "Aceptar",
//     });
//   }
// };
</script>
