<template>
  <LoadingComponent v-if="loading"></LoadingComponent>
  <div v-else>
    <div v-if="tickets.length != 0">
      <v-table>
        <thead>
          <tr>
            <th v-for="header in headers" :key="header">
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ticket in index" :key="tickets[ticket]?.id">
            <TableItem :ticket="tickets[ticket]" :index="ticket" @press="openDialog" @reasign="openReasign">
            </TableItem>
          </tr>
        </tbody>
      </v-table>
    </div>
    <div v-else class="justify-center">
      <EmptyPlaceholder></EmptyPlaceholder>
    </div>
    <!-- dialogo de detalles de ticket -->
    <v-dialog v-model="dialog" fullscreen>
      <v-card>
        <TicketDetail @close="closeDialog" @reasign="openReasign" :index="tIndex"></TicketDetail>
      </v-card>
    </v-dialog>
    <v-dialog v-model="reasignDialog" persistent>
      <DevChooser @close="reasignDialog = false" @reasignar="proponerReasignacion"></DevChooser>
    </v-dialog>
  </div>
</template>

<script setup>
import LoadingComponent from "../LoadingComponent.vue";
import EmptyPlaceholder from "../EmtpyPlaceholder.vue";
import TableItem from "./TableItem.vue";
import TicketDetail from "./TicketDetail.vue";
import { watch, ref } from "vue";
import Swal from "sweetalert2";
import apiServices from "@/utils/apiServices";
import DevChooser from "./DevChooser.vue";

const { tickets, getTicket, getAppDevs, result, reasignarTicket, getTicketsAsignadosDev } = apiServices()

const loading = ref(false)
const dialog = ref(false);
const ticketId = ref(0);
const tIndex = ref(null)
const reasignDialog = ref(false)
watch(ticketId, async (id) => {
  loading.value = true
  await getTicket(id);
  loading.value = false
});
const openDialog = (id, ticketIndex) => {
  tIndex.value = ticketIndex + 1
  ticketId.value = id;
  dialog.value = true;
};
const closeDialog = () => {
  dialog.value = false;
};

const openReasign = async (ticketId, appId) => {
  closeDialog()
  await getTicket(ticketId)
  await getAppDevs(appId)
  reasignDialog.value = true
}

const headers = ["Titulo", "Importancia", "App", "Asignado en", ""];

// const accetpTicket = async (id) => {
//   const result = await aceptarTicket(1, id);
//   if (result.status === 200) {
//     Swal.fire({
//       title: "Exito",
//       text: "El ticket fue aceptado existosamente",
//       icon: "success",
//       confirmButtonText: "Aceptar",
//     });
//     await getTicketsAsignadosDev(1)
//   } else {
//     Swal.fire({
//       title: "Error",
//       text: "Ocurrio un Error al intentar aceptar el ticket",
//       icon: "error",
//       confirmButtonText: "Aceptar",
//     });
//   }
//   closeDialog()
// };

const proponerReasignacion = async (ticketId, devId) => {
  reasignDialog.value = false
  loading.value = true
  await reasignarTicket(ticketId, devId);
  if (result.value.status === 201) {
    Swal.fire({
      title: 'Exito',
      text: result.value.data,
      icon: 'success',
      showCloseButton: true
    })
    await getTicketsAsignadosDev(1)
  }
  else
    Swal.fire({
      title: 'Ups!',
      text: result.value.error,
      icon: 'error',
      showCloseButton: true
    })
  loading.value = false
}
// const rechazarTicket = async (id) => {
//   const result = await rechazarTicket(id)
//   if (result.status === 200) {
//     Swal.fire({
//       title: "Exito",
//       text: "El ticket fue rechazado existosamente",
//       icon: "success",
//       confirmButtonText: "Aceptar",
//     });
//     await getTicketsAsignadosDev(1)
//   } else {
//     Swal.fire({
//       title: "Error",
//       text: "Ocurrio un Error al intentar rechazar el ticket",
//       icon: "error",
//       confirmButtonText: "Aceptar",
//     });
//   }
//   closeDialog()
// }

const index = ref([...Array(tickets.value.length).keys()])
</script>
