<template>
    <div v-if="getAceptados.length != 0">
        <v-table>
            <thead>
                <tr>
                    <th v-for="header in headers" :key="header">
                        {{ header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="ticket in index" :key="ticket.id">
                    <TableItem :ticket="getAceptados[ticket]" :index="ticket" @press="openDialog"
                        @finalizar="finalizarTicket"></TableItem>
                </tr>
            </tbody>
        </v-table>
    </div>
    <div v-else class="justify-center">
        <EmptyPlaceholder></EmptyPlaceholder>
    </div>
    <v-dialog v-model="dialog" fullscreen>
        <v-card>
            <TicketDetail @close="closeDialog" @finalizar="finalizarTicket" :index="ticketsIndex">
            </TicketDetail>
        </v-card>
    </v-dialog>
</template>
<script setup>
import { useAppStore } from '@/store/app';
import { onMounted, ref } from 'vue';
import EmptyPlaceholder from '../EmtpyPlaceholder.vue';
import TableItem from './TableItem.vue';
import TicketDetail from './TicketDetail.vue';
import { storeToRefs } from 'pinia';
import Swal from 'sweetalert2';

const ticketStore = useAppStore();
const { getAceptados } = storeToRefs(ticketStore)
// const ticketId = ref(0);
const dialog = ref(false);
const ticketsIndex = ref(0)


const headers = ['Titulo', 'Importancia', 'App', 'Aceptado en', ""]
const openDialog = async (id, ticketIndex) => {
    ticketsIndex.value = ticketIndex + 1
    console.log(ticketsIndex.value)
    await ticketStore.getTicketById(id)
    dialog.value = true;
}
const closeDialog = () => {
    dialog.value = false;
}
const finalizarTicket = async (ticketId, userId) => {
    const result = await ticketStore.finalizarTicket(ticketId, userId);
    closeDialog()
    if (result.status === 200) {
        Swal.fire({
            title: "Exito",
            text: "El ticket fue rechazado existosamente",
            icon: "success",
            confirmButtonText: "Aceptar",
        });
        await ticketStore.fetchAccepted();
    } else {
        Swal.fire({
            title: "Error",
            text: result.response.data,
            icon: "error",
            confirmButtonText: "Aceptar",
        });
    }
}
onMounted(() => {
    ticketStore.fetchAccepted();
})

</script>