<template>
  <td>
    {{ ticket?.titulo }}
  </td>
  <td>
    {{ ticket?.nivelprioridad?.nombre }}
  </td>
  <td>
    <v-chip variant="outlined" size="x-small">
      {{ ticket?.software.nombre }}
    </v-chip>
  </td>
  <td>
    {{ getDate }}
  </td>
  <td>
    <v-tooltip text="Reasignar" location="bottom">
      <template v-slot:activator="{ props }">
        <v-btn v-if="ticket?.estado.nombre !== 'Finalizado'" v-bind='props' variant="tonal" icon="mdi-reload"
          density="comfortable" class="mr-1" @click="$emit('reasign', ticket?.id, ticket?.software.id)">
        </v-btn>
      </template>
    </v-tooltip>
    <v-btn variant="tonal" class="mr-1" @click="toggleDialog"> Ver </v-btn>
    <v-tooltip text="Finalizar" location="bottom">
      <template v-slot:activator="{ props }">
        <v-btn v-if="ticket?.estado.nombre !== 'Finalizado'" v-bind='props' variant="tonal" class="mr-1"
          density="comfortable" icon="mdi-source-commit-end" @click="$emit('finalizar', ticket?.id, 1)">
        </v-btn>
      </template>
    </v-tooltip>
  </td>
</template>
<script setup>
import { computed } from "vue";

const props = defineProps({
  ticket: {},
  index: Number
});

const emit = defineEmits(["press", "reasign", "finalizar"]);
const toggleDialog = () => {
  emit("press", props.ticket?.id, props.index);
};

const getDate = computed(() => {
  const timeStamp = new Date(Date.parse(props.ticket?.updatedAt));
  return `${timeStamp.getDate()}/${timeStamp.getMonth()}/${timeStamp.getFullYear()}`;
});
</script>
