<template>
  <v-container fluid>
    <v-row no-gutters justify="space-between">
      <v-col align-self="center" cols="1">
        <v-avatar color="blue-lighten-1" size="large">{{ 
          index 
          }}</v-avatar>
      </v-col>
      <v-col cols="9" align-self="center">
        <v-row justify="center" no-gutters align-content="center">
          <v-col cols="10">
            <h2 class="text-h2 my-8">
              {{ ticket?.titulo }}
              <v-chip>
                {{ ticket?.software?.nombre }}
              </v-chip>
            </h2>
            Creado el {{ ticket?.updatedAt }}
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="2">
        <v-row justify="center">
          <v-col class="text-center">
            <v-btn @click="goBack" density="comfortable" icon="mdi-close">
            </v-btn>
          </v-col>
        </v-row>
        <v-row v-if="ticket?.estado.nombre !== 'Finalizado'">
          <v-col class="text-center">
            <v-btn @click="$emit('reasign', ticket.id, ticket.software.id)">Reasignar</v-btn>
          </v-col>
        </v-row>
        <v-row v-if="ticket?.estado.nombre !== 'Finalizado'">
          <v-col class="text-center">
            <v-btn @click="$emit('finalizar', ticket?.id, 1)">Finalizar</v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
  <div class="px-6">
    <v-divider thickness="3" class="border-opacity-25" color="succes"></v-divider>
  </div>
  <div class="mx-8 my-8">
    <div class="my-4 w-50">
      <h5 class="text-h5">Información de Informante</h5>
      <v-container>
        <v-row align-content="center" no-gutters justify="start">
          <v-col>
            <v-avatar icon="mdi-account"></v-avatar>
          </v-col>
          <v-col align-self="center"> Nombre </v-col>
          <v-col align-self="center">
            {{ ticket?.nombre_reportero }}
          </v-col>
          <v-col> </v-col>
        </v-row>
        <v-row align-content="center" no-gutters justify="center">
          <v-col>
            <v-avatar icon="mdi-email"></v-avatar>
          </v-col>
          <v-col align-self="center"> Correo </v-col>
          <v-col align-self="center">
            {{ ticket?.correo_reportero }}
          </v-col>
          <v-col> </v-col>
        </v-row>
      </v-container>
    </div>
    <h4 class="text-h5">Detalles</h4>
    <div class="my-4">
      <p class="text-body-1">{{ ticket?.descripcion.detalles }}</p>
    </div>
    <h4 class="text-h5">Como recrearlo</h4>
    <div class="my-4">
      <p class="text-body-1">{{ ticket?.descripcion.pasos }}</p>
    </div>

    <div class="my-4" v-if="ticket?.imagens">
      <h4 class="text-h5">Imagenes Adjuntas</h4>
      <div v-for="img in ticket.imagens" :key="img.url">
        {{ img.url }}
      </div>
    </div>

    <div class="my-4">
      <v-row>
        <v-col>
          <h4 class="text-h5">Avances</h4>
        </v-col>
        <v-col>
          <v-btn density="comfortable" prepend-icon="mdi-plus">
            Informe
          </v-btn>
        </v-col>
      </v-row>
      <v-table v-if="avances.length">
        <thead>
          <tr>
            <th class="text-left">Fecha</th>
            <th class="text-left">titulo</th>
            <th class="text-left">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="avance in avances" :key="avance.id">
            <td>{{ avance.fecha }}</td>
            <td>{{ avance.vistaPrevia }}</td>
            <td>
              <v-btn small @click="verDetalles(avance)">Ver detalles</v-btn>
            </td>
          </tr>
        </tbody>
      </v-table>
      <div v-else>
        <v-container>
          No hay avances aun
        </v-container>
      </div>
    </div>
  </div>

  <v-dialog v-model="showInfDetails" width="500px">
    <v-card>
      <v-card-title>
        Detalles del avance
      </v-card-title>
      <v-card-text>
        <p>{{ avanceSeleccionado.informacion }}</p>
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" @click="showInfDetails = false">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup>
import { defineProps, defineEmits } from 'vue';
import apiServices from '@/utils/apiServices';
import { ref } from 'vue';
defineProps(['index'])
const emit = defineEmits(["close", "reasignar", "finalizar"]);
const { ticket } = apiServices()
const goBack = () => {
  emit("close");
};

const avanceSeleccionado = ref()
const verDetalles = (inf) => {
  avanceSeleccionado.value = inf
  showInfDetails.value = true
}
const showInfDetails = ref(false)

const avances = [
  // { id: 1, fecha: '2023-05-28', vistaPrevia: 'Avance 1', informacion: 'Información detallada del avance 1.' },
  // { id: 2, fecha: '2023-05-29', vistaPrevia: 'Avance 2', informacion: 'Información detallada del avance 2.' },
  // { id: 3, fecha: '2023-05-30', vistaPrevia: 'Avance 3', informacion: 'Información detallada del avance 3.' },
];
</script>